@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glow {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 200px 130px â˜ #c026d3; /* outer cyan */
  }
}

